/* .grid {
	display: flex;
	flex-wrap: wrap;
	height: 300px;
	width: 400px;

} */

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	/* justify-content: center;
	align-items: center; */


}

div {
	text-align: center;
}

#iphone {
	/* height: 50%; */
	width: 53%;
	margin: 0 auto;

	/* display: block; */
}

header {
	margin-bottom: 0;
	text-align: center;

}

main {
	/* height: 50vmin; */
	display: grid;
	grid-template-columns: repeat(4, 5vmin);
	grid-template-rows: repeat(4, 5vmin);
	gap: 2vmin;
	position: absolute;
	z-index: 10;
	top: 0;
	margin-top: 25vmin;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 26vmin;
	padding: 0;
	/* width: 50%; */

}

.container {
	position: relative;
	height: 100%;
}

img {
	width: 100%;
	border-radius: 1vmin;
}

section {
	text-align: center;
}