/* .grid {
	display: flex;
	flex-wrap: wrap;
	height: 300px;
	width: 400px;

} */

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-family: 'Helvetica Light';
	/* background-color: aliceblue; */
	background-image: url(https://i.imgur.com/M4N4B4h.jpg);
	background-size: cover;
	/* font-size: 30px; */
	/* justify-content: center;
	align-items: center; */


}

div {
	text-align: center;
}

#iphone {
	/* height: 50%; */
	width: 18%;
	margin: auto;

	/* display: block; */
}

h1 {
	font-family: 'Helvetica';
	background-color: gray;
	color: white;
	font-size: 30px;
	font-weight: lighter;
	margin-top: 0;
	margin-bottom: 30px;
	text-align: center;


}

h3 {
	color: gray;
}

main {
	/* height: 50vmin; */
	display: grid;
	grid-template-columns: repeat(4, 5vmin);
	grid-template-rows: repeat(4, 5vmin);
	gap: 2vmin;
	position: absolute;
	z-index: 10;
	top: 0;
	margin-top: 25vmin;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 26vmin;
	padding: 0;
	/* width: 50%; */

}

.container {
	position: relative;
	height: 100%;
}

img {
	width: 100%;
	border-radius: 1vmin;
}

section {
	text-align: center;
}

.btn {
	font-size: 1.5vmin;
	text-align: center;
	display: block;
	height: 38px;
	width: 38px;
	border-radius: 20%;
	border: 1px solid black;

}