* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	font-family: 'Helvetica Light';
	background-color: aliceblue;
}

div {
	text-align: center;
}



h1 {
	font-family: 'Helvetica';
	background-color: #404040;
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 38% center;
	color: white;
	font-size: 30px;
	font-weight: lighter;
	margin-top: 0;
	margin-bottom: 30px;
	text-align: center;


}

.appleicon {
	height:20px;
	width: 20px;
}

h3 {
	color: gray;
}


#iphone{
	margin-top: 2rem;
}
main {
	display: grid;
	grid-template-columns: repeat(4, 5vmin);
	grid-template-rows: repeat(4, 5vmin);
	gap: 2vmin;
	position: absolute;
	z-index: 10;
	top: 0;
	margin-top: 28vmin;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 26vmin;
	padding: 0;
}



.square {
	width: 100%;
	border-radius: 1vmin;
}



section {
	text-align: center;
}

.btn {
	font-size: 1.5vmin;
	text-align: center;
	display: block;
	height: 38px;
	width: 38px;
	border-radius: 20%;
	border: 1px solid black;

}

button:hover {
	color: white;
	background-color: black;
}

img:hover {
	transform: scale(1.1);
	transition: transform 150ms ease-in;
}

@media screen and (max-width: 768px) {

#iphone {
	margin-top: 5rem;
	height: 60%;
	width: 50%;
}


.phone-grid {

	display: grid;
	grid-template-columns: repeat(4, 5vmin);
	grid-template-rows: repeat(4, 5vmin);
	gap: 2vmin;
	position: absolute;
	z-index: 10;
	top: 0;
	margin-top: 50vmin;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 26vmin;
	padding: 0;
}


}